process {

    // Retry if AWS kills with OOM (exit 137–140)
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'ignore' }
    maxRetries = 3

    // Override the Eagle phasing step
    withName: 'ancestry_pipeline:phase_with_eagle' {
        cpus = { 2 * task.attempt }
        memory = { 32.GB * task.attempt }   // or increase to 64.GB if needed
    }

    // Override the RFMix step
    withName: 'ancestry_pipeline:run_rfmix' {
        cpus = { 4 * task.attempt }
        memory = { 64.GB * task.attempt }   // can increase to 96–128GB if you need
    }
}
docker {
    enabled = true
}