process {
    stageInMode = 'copy'
    executor = 'awsbatch'
    container = 'ghcr.io/jchen1095/ancestry-pipeline:amd64-latest'

    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 2

    withName: 'ancestry_pipeline:download_genetic_map' {
        cpus = 1
        memory = 4.GB
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: 'ancestry_pipeline:download_genetic_map_eagle' {
        cpus = 1
        memory = 2.GB
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: 'ancestry_pipeline:download_sample_map' {
        cpus = 1
        memory = 2.GB
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: 'ancestry_pipeline:normalize_chrom_names' {
        cpus = 2
        memory = { 4.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: 'ancestry_pipeline:download_1000g_phased_reference' {
        cpus = 1
        memory = { 4.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: 'ancestry_pipeline:convert_rfmix_inputs_to_bcf' {
        cpus = 2
        memory = { 16.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: 'ancestry_pipeline:phase_with_eagle' {
        errorStrategy = 'retry'
        maxRetries = 2
        cpus = { 2 * task.attempt }
        memory = { 32.GB * task.attempt }
    }

    withName: 'ancestry_pipeline:run_rfmix' {
        errorStrategy = 'retry'
        maxRetries = 2
        cpus = 8
        memory = { 64.GB * task.attempt }
    }
}

docker {
    enabled = true
}