process {
    withName: phase_with_eagle {
        cpus = { 2 * task.attempt }
        memory = { 32.GB * task.attempt }
    }
    withName: run_rfmix {
        cpus = { 4 * task.attempt }
        memory = { 64.GB * task.attempt }
    }
    stageInMode = 'copy'
    maxRetries = 2
    executor = 'awsbatch'
    errorStrategy = 'retry'
    container = 'ghcr.io/jchen1095/ancestry-pipeline:amd64-latest'
}
docker {
    enabled = true
}